body {
    padding-top:50px;
    padding-bottom:20px;
    font-family:"Courier new";
}

.alert
{
    margin-top:20px;
}

form
{
    margin-top:15px;
}

.page-header
{
    border-bottom:thin dotted rgb(55,55,55);
}
