<%inherit file="nav.html"/>
<%namespace name="help" file="formhelper.html"/>

## nav bar elements redefinition 
<%block name="right_items">
<li><a href="${url_for('explore')}">Explore</a></li>
<li><a href="${url_for('pricing')}">Pricing</a></li>
<li><a href="${url_for('login')}">Login</a></li>
</%block>

## values used to prefill form data is there are errors
<%
    uname_val  = form.username.data if form.username.data else ""
    passwd_val = form.password.data if form.password.data else "" 
    email_val  = form.email.data if form.email.data else ""

    uname_css = "has-error" if form.username.errors else ""
    passw_css = "has-error" if form.password.errors else ""
    email_css = "has-error" if form.email.errors else ""
%>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1> Work in your Kitchen, manage it in the cloud </h1>
            </div>
            <div class="col-md-4">
                <form action=${url_for('index')} method="POST">
                    ## please see the comments in formhelper.html for documentation of the the different methods used here
                    <div class="form-group ${uname_css}">
                        ${help.err_list(form.username)}
                        <input type="text" name="username" class="form-control" placeholder="Choose a username" value="${uname_val}">
                    </div>
                    <div class="form-group ${passw_css}">
                        ${help.err_list(form.password)}
                        <input type="password" name="password" class="form-control" placeholder="Choose a password" value="${passwd_val}">
                    </div>
                    <div class="form-group ${email_css}">
                        ${help.err_list(form.email)}
                        <input type="email" name="email" class="form-control" placeholder="Your email address" value="${email_val}">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-mg">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>

