<%inherit file="sidebar.html"/>
<div class="col-md-4">
    <form method="POST" action="${url_for('kitchen')}">
        <div class="form-group">
            <label for="name" class="control-label">Name</label>
            <input type="text" name="name" class="form-control" placeholder="e.g my kitchen">
        </div>
        <button type="submit" class="btn btn-primary btn-mg">Add Kitchen</button>
    </form>
</div>

<%block name="right_items">
<li><a href="${url_for('logout')}">Logout</a></li>
</%block>
